/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* dark theme colors */
  --color: #000028;
  --font-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --backgroundg-color: #000028;
  --theme-cover: url(/images/cover-image-dark.png);
}
